#Chat .Message {
  background: #ffffff;
  word-wrap: break-word;

  &:hover {
    background: #f4f4f4;
  }

  .title-bar {
    display: flex;
    justify-content: space-between;
    font-weight: bold;

    span {
      display: block;
    }

    .timestamp {
      color: rgba(0, 0, 0, 0.4);
    }
  }

  p {
    color: #555555;
    margin-bottom: 0;
  }
}
