#new-from-friends {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin-bottom : 2.5rem;

    hr {
        color : #abc;
        margin: 0;
        width : 59rem;
    }

    #list-title {
        display        : flex;
        justify-content: space-between;
        margin-top     : 2rem;
        width          : 59rem;

        h6 {
            color: #abc;
        }
    }

    #film-row {
        display        : flex;
        justify-content: space-between;
        width          : 59rem;
        height         : 250px;
        margin-top     : 0.5rem;
    }
}