#Home {
  .lander {
    padding: 80px 0;
    text-align: center;

    h1 {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
    }

    p {
      color: #999;
    }

    form {
      max-width: 540px;
      margin: auto;
    }
  }
}
