#fP18B {
    // position        : fixed;
    // top             : 10%;
    // right           : 3%;
    // background-color: black;
    // height          : 3.5rem;
    // width           : 3.5rem;
    // display         : flex;
    // align-items     : center;
    // justify-content : center;
    // border-radius   : 50%;
    cursor          : pointer;
    z-index         : 10;

}

#yoUWd {
    display   : none;
    z-index   : 5;
    position  : fixed;
    top       : 0;
    left      : 0;
    height    : 100%;
    width     : 100%;
    background: #222831;
    transition: all 0.3s ease-in-out;


    i{
        position: absolute;
        top: 10%;
        left: 90%;
        cursor: pointer;
    }

    ul {
        position : absolute;
        top      : 50%;
        left     : 50%;
        transform: translate(-50%, -50%);

        

        li {
            margin: 15px 0;

            a {
                font-size    : 30px;
                font-weight  : 500;
                padding      : 5px 30px;
                color        : #EEEEEE;
                background   : #222831;
                border-radius: 50px;
                position     : relative;
                line-height  : 50px;
                transition   : all 0.3s ease;

                &::after {
                    position     : absolute;
                    content      : "";
                    background   : #EEEEEE;
                    width        : 104%;
                    height       : 110%;
                    left         : -2%;
                    top          : -5%;
                    /* if the font is 'Oswald'*/
                    border-radius: 50px;
                    transform    : scaleY(0);
                    z-index      : -1;
                    animation    : rotate 1.5s linear infinite;
                    transition   : transform 0.3s ease;
                }

                &:hover::after {
                    transform: scaleY(1);
                }

                &:hover {
                    color: #F9ED69;
                }

                @keyframes rotate {
                    0% {
                        filter: hue-rotate(0deg);
                    }

                    100% {
                        filter: hue-rotate(360deg);
                    }
                }
            }
        }
    }
}